#!/bin/bash

old_password=$(cat /credentials/password.txt | awk 'NR==2' |awk -F ":" '{print $2}')

new_password=$(pwgen -Aycns -r "@&-_|%'\"\\\/\`;=+<>,.(){}[]:$~^*" 8 1)

metabase_password=$(pwgen -Aycns -r "@&-_|%'\"\\\/\`;=+<>,.(){}[]:$~^*" 8 1)

systemctl restart mysql

mysqladmin -uroot -p${old_password} -h localhost password $new_password

mysqladmin -u{{metabase_db_user}} -p{{metabase_db_password}} -h localhost password $metabase_password

sed -i "s/$old_password/$new_password/" /credentials/password.txt

sed -i "s/{{metabase_db_password}}/$metabase_password/" /credentials/password.txt

sed -i "s/{{metabase_db_password}}/$metabase_password/" /data/wwwroot/metabase/metabase.conf

systemctl restart metabase 

sed -i 's/\/root\/init.sh//g' /etc/rc.local

rm -rf /root/init.sh

