[Unit]
Description=Metabase applicaion service
Documentation=https://www.metabase.com/docs/latest
After=syslog.target
After=network.target

[Service]
EnvironmentFile=/data/wwwroot/metabase/metabase.conf
User=metabase
Group=metabase
Type=simple
ExecStart=/usr/bin/java -jar /data/wwwroot/metabase/metabase.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metabase

[Install]
WantedBy=multi-user.target
