[Unit]
Description=Metabase applicaion service
Documentation=https://www.metabase.com/docs/latest

[Service]
WorkingDirectory=/data/wwwroot/metabase
EnvironmentFile=/data/wwwroot/metabase/metabase.conf
ExecStart=/usr/bin/java -jar metabase.jar
User=metabase
Group=metabase
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metabase

[Install]
WantedBy=multi-user.target